page-landing {
  .landing-button{
    height: 50em;
    width: 50%;
    background-color: #009fd8;
  }

  .title-text{
    text-align: center;
    font-size: 2em;
  }

  .header-logo {
    height: 50px;
    width: auto;
  }
}
