page-landing {
  ion-row {
    text-align: center;
    align-items: center;
  }

  .landing-button{
    height: 100px;
    width: 100%;
    background-color: #009fd8;
    font-size: 25%;
  }

  .title-text{
    text-align: center;
    font-size: 2em;
  }

  #header-logo {
    height: 50px;
    width: auto;
  }

  #tagline {
    height: 100px;
    width: auto;
  }
}
