<ion-header>
  <ion-toolbar align-title="center">
    <ion-buttons left>
      <button ion-button menuToggle icon-only>
        <ion-icon name='menu'></ion-icon>
      </button>
    </ion-buttons>
    <ion-title class="open-task" (click)="scrollToTop()">Registry Items</ion-title>
    <ion-buttons right>
      <img class="header-logo" src="assets/img/myVillageLogo.jpg">
    </ion-buttons>
   </ion-toolbar>
</ion-header>

<ion-menu [content]="mycontent" type="overlay">
  <ion-header>
    <ion-title>
      Categories
    </ion-title>
  </ion-header>
  <ion-content>
    <ion-list>
      <button ion-item (click)="navToSchedule('Schedule')">
        Schedule
      </button>
      <button ion-item (click)="navToSchedule('Service')">
        Service Provider
      </button>
      <button ion-item (click)="navToSchedule('Gifts')">
        Gifts
      </button>
      <button ion-item (click)="navToSchedule('Logout')">
        Logout
      </button>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-nav #mycontent [root]="rootPage"></ion-nav>

<ion-content padding>
	  <ion-fab top right edge *ngIf ="IsMother">
   		<button ion-fab (click)="addTask()"><ion-icon ios="ios-add" md="md-add"></ion-icon></button>
 	  </ion-fab>
	<ion-list>
    <div>
      <div [style.background-color]="getStyle()">
      I am a div that wants to be styled
      </div>
      <button (click)="showStyle = !showStyle;">Toggle style</button>
    </div>
		<ion-card *ngFor="let task of tasks | async" (click)="taskTapped(task)" class="red">
			<ion-item>
			<ion-label>{{task.t_name}}</ion-label>
			</ion-item>
			<ion-card-content class ="{{task.t_category}}">
				<p><b>Description:</b> {{task.t_description}}</p>
			</ion-card-content>
		</ion-card>
	</ion-list>
</ion-content>
