page-home {

  .header-logo {
    height:39px;
    width: auto;
  }

  .open-task {
    font-size: 1.5em;
    font-style: "SayWeb";
    color: color($colors, light);
    text-align: center;
  }

  .joker {
    color: color($colors, cats-light);
  }

	#welcome-msg {
		font-style: "roboto";
		font-size: 1.2em;
		color: color($colors, light);
    padding-right: 10px;
		text-shadow: 1px -1px #767676,
	}

  #logout-button {
    vertical-align: middle;
    background-color: color($colors, cats-light);
  }

  .mental {
    border-left: 10px solid #9b59b6;
    padding-left: 10px;
  }
  .physical{
    border-left: 10px solid #2ecc71;
    padding-left: 10px;
  }
  .nutritional{
    border-left: 10px solid #e74c3c;
    padding-left: 10px;
  }
  .other {
    border-left: 10px solid #f1c40f;
    padding-left: 10px;
  }

}
