page-home {

  .open-task {
    font-size: 1.5em;
    font-style: "SayWeb";
    color: color($colors, light);
    text-align: center;
  }

  .title {
    font-size: 1.5em;
    font-style: "SayWeb";
    color: #2c3e50;
    text-align: center;
  }

  .task_title {
    font-size: 1.05em;
    font-style: "SayWeb";
    color: #2c3e50;
  }


	#welcome-msg {
		font-style: "roboto";
		font-size: 1.2em;
		color: color($colors, light);
    padding-right: 10px;
		text-shadow: 1px -1px #767676,
	}

  #logout-button {
    vertical-align: middle;
    background-color: color($colors, cats-light);
  }

  .mental {
    border-left: 22px solid #9b59b6;
  }
  .physical {
    border-left: 22px solid #2ecc71;
  }
  .nutritional {
    border-left: 22px solid #e74c3c;
  }
  .other {
    border-left: 22px solid #f1c40f;
  }

}
