page-settings {
  .header-logo {
    height:39px;
    width: auto;
  }
  .toolbar-background {
  background-color: color($colors, sunflower);
  }

  .open-item {
    font-size: 1.5em;
    font-style: "SayWeb";
    color: color($colors, light);
    text-align: center;
  }
}
