<ion-header>
  <ion-navbar no-border-bottom align-title="center">
    <ion-buttons left>
      <button ion-button menuToggle icon-only>
        <ion-icon name='menu'></ion-icon>
      </button>
    </ion-buttons>
    <ion-segment [(ngModel)]="segment">
      <ion-segment-button value="alltasks" (click)="taskTaken(2)">
        All Tasks
      </ion-segment-button>
      <ion-segment-button value="takentasks" (click)="taskTaken(1)">
        Taken Tasks
      </ion-segment-button>
      <ion-segment-button value="untakentasks" (click)="taskTaken(0)">
        Untaken Tasks
      </ion-segment-button>
    </ion-segment>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-icon name="calendar" item-start></ion-icon>
    <ion-label>Date</ion-label>
    <ion-datetime displayFormat="MMM DD, YYYY" pickerFormat="MMMM DD, YYYY" max="2050" [(ngModel)]="currDate">
    </ion-datetime>
  </ion-item>

  <div id="btn-holder">
    <button ion-button class="day-btn" [ngClass]="{'active': currDay==0}"  (click)="changeDay(0)">Sun</button>
    <button ion-button class="day-btn" [ngClass]="{'active': currDay==1}" (click)="changeDay(1)">Mon</button>
    <button ion-button class="day-btn" [ngClass]="{'active': currDay==2}" (click)="changeDay(2)">Tue</button>
    <button ion-button class="day-btn" [ngClass]="{'active': currDay==3}" (click)="changeDay(3)">Wed</button>
    <button ion-button class="day-btn" [ngClass]="{'active': currDay==4}" (click)="changeDay(4)">Thur</button>
    <button ion-button class="day-btn" [ngClass]="{'active': currDay==5}" (click)="changeDay(5)">Fri</button>
    <button ion-button class="day-btn" [ngClass]="{'active': currDay==6}" (click)="changeDay(6)">Sat</button>
  </div>

  <p>
    <ion-icon class="curr-day-left" name="arrow-back"  (click)="prevDay()"></ion-icon>
    Current Day: {{days[currDay]}}
    <ion-icon class="curr-day-right" name="arrow-forward"  (click)="nextDay()"></ion-icon>
  </p>
  <button ion-button block (click)="openModal()">Add Task</button>
  <ion-list>
    <ion-card>
      <ion-item-divider sticky>
        <ion-label>
          9:00 AM
        </ion-label>
      </ion-item-divider>
      <ion-item-sliding #slidingItem *ngFor="let task of tasks | async" (click)="updateSchedule()">
        <button ion-item (click)="taskTapped(task)">
          <h3>{{task.name}}</h3>
          <p>
            Time: {{task.clockTime}} &mdash;
          </p>
        </button>
      </ion-item-sliding>
    </ion-card>
		<ion-card *ngFor="let hour of daySched | async">
      <ion-item-divider sticky>
        <ion-label>
          {{hour.time}}
        </ion-label>
      </ion-item-divider>
			<ion-item-sliding #slidingItem>
        <button ion-item (click)="goToSessionDetail(session)">
          <h3>Description</h3>
          <p>
            {{hour.task}} &mdash;
            John Doe has taken this task!
          </p>
        </button>
			</ion-item-sliding>
		</ion-card>
	</ion-list>

</ion-content>
