<ion-header>
  <ion-toolbar no-border-bottom align-title="center">
    <ion-buttons left>
      <button ion-button menuToggle icon-only>
        <ion-icon name='menu'></ion-icon>
      </button>
    </ion-buttons>
    <ion-segment [(ngModel)]="segment">
      <ion-segment-button value="alltasks" (click)="taskTaken(2)">
        All Tasks
      </ion-segment-button>
      <ion-segment-button value="takentasks" (click)="taskTaken(1)">
        Taken Tasks
      </ion-segment-button>
      <ion-segment-button value="untakentasks" (click)="taskTaken(0)">
        Untaken Tasks
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content class="date">
  <ion-item class="date">
    <ion-icon name="calendar" item-start></ion-icon>
      <ion-datetime class="date" displayFormat="MMM DD, YYYY" pickerFormat="MMMM DD, YYYY" max="2050" [(ngModel)]="currDate" (ionChange)="updateSchedule()">
      </ion-datetime>
  </ion-item>
<br />
  <div id="btn-holder">
    <button ion-button small class="day-btn" [ngClass]="{'active': currDay==0}"  (click)="changeDay(0)">Su</button>
    <button ion-button small class="day-btn" [ngClass]="{'active': currDay==1}" (click)="changeDay(1)">M</button>
    <button ion-button small class="day-btn" [ngClass]="{'active': currDay==2}" (click)="changeDay(2)">T</button>
    <button ion-button small class="day-btn" [ngClass]="{'active': currDay==3}" (click)="changeDay(3)">W</button>
    <button ion-button small class="day-btn" [ngClass]="{'active': currDay==4}" (click)="changeDay(4)">Th</button>
    <button ion-button small class="day-btn" [ngClass]="{'active': currDay==5}" (click)="changeDay(5)">F</button>
    <button ion-button small lass="day-btn" [ngClass]="{'active': currDay==6}" (click)="changeDay(6)">S</button>
  </div>

  <p class="date">
    <ion-icon class="curr-day-left" name="arrow-back"  (click)="prevDay()"></ion-icon>
    {{days[currDay]}}
    <ion-icon class="curr-day-right" name="arrow-forward"  (click)="nextDay()"></ion-icon>
  </p>
  <ion-list>
    <ion-card>
      <ion-item-divider sticky>
        <p class= "date">
          Tasks:
        </p>
      </ion-item-divider>
      <ion-item-sliding #slidingItem *ngFor="let task of tasks | async">
        <button ion-item *ngIf="task.taken == taken || taken == 2" (click)="takenTaskAlert(task)">
          <h3>{{task.name}}</h3>
          <p>{{task.time}}</p>
          <p *ngIf="task.taken == 1">
            {{task.t_takenby}} has taken this task!
          </p>
        </button>
      </ion-item-sliding>
    </ion-card>
  </ion-list>

  <button ion-button round outline (click)="openModal()">Add Task</button>
</ion-content>
